{% extends 'account/base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}
<div class="w-full flex items-center justify-center px-4 py-10 ">
    <div class=" max-50 p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
        <h2 class="text-2xl text-center text-amber-600">Activate your account</h2>
        <h5 class="text-md ">Thankyou for sigining up! To activate our account! Please click the button below. </h5>
        <div class="mb-2 text-center">
                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 ">Activate</button>
        </div>
    </div>
</div>
{% endblock content %}