{% extends 'account/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
<div class="flex items-center justify-center px-6 py-10">
    <div class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
        <h2 class="text-2xl text-center text-rose-600">Rest your Password</h2>
        <form action="" method="post" id="reset-password-form">
            {% csrf_token %}
            <div class="mb-4">
                <label for="" class="text-md">Email:</label>
                <input type="text" id="small-input" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
            </div>
             <div class="mb-2">
                <button type="submit" id="submit-btn" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full mt-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Send Password Rest Link</button>
            </div>
        </form>
    </div>
    <script src="{% static 'account/js/scripts.js' %}"></script>
</div>
{% endblock content %}